<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aukde.food.gestordepedidos">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   <!-- <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> -->




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".paquetes.Menus.Perfiles.PerfilAdmin"
            android:parentActivityName=".paquetes.Menus.MenuAdmin" android:launchMode = "singleInstance"></activity>

        <activity android:name=".paquetes.Menus.Perfiles.PerfilAukdeliver"
            android:parentActivityName=".paquetes.Menus.MenuAukdeliver" android:launchMode = "singleInstance"></activity>

        <service
            android:name=".paquetes.Servicios.JobServiceMonitoreo" android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".paquetes.Actividades.Pedidos.AsignarRepartidor" android:launchMode = "singleInstance" />
        <activity android:name=".paquetes.Actividades.Pedidos.EditarPedido" android:launchMode = "singleInstance" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".paquetes.Mapas.MapaClientePorLlamada"
            android:label="@string/title_activity_mapa_cliente_por_llamada" android:launchMode = "singleInstance" />
        <activity android:name=".paquetes.Mapas.MonitoreoRepartidor" android:launchMode = "singleInstance" />
        <activity android:name=".paquetes.Mapas.MapaProveedores" android:launchMode = "singleInstance" />
        <activity android:name=".paquetes.Actividades.Notificacion" android:launchMode = "singleInstance" />

        <receiver
            android:name=".paquetes.Receptor.AcceptReceiver"
            android:enabled="true" />
        <receiver
            android:name=".paquetes.Receptor.CancelReceiver"
            android:enabled="true" />

        <receiver android:name=".paquetes.Receptor.NetworkReceiver" android:enabled="true" android:exported="true"/>
        <receiver android:name=".paquetes.Receptor.GpsReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.location.GPS_ENABLED_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".paquetes.Servicios.MyFirebaseMessagingClient">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".paquetes.Actividades.Pedidos.DetallePedidoAukdeliver"
            android:screenOrientation="portrait" android:launchMode = "singleInstance"/>
        <activity
            android:name=".paquetes.Actividades.Pedidos.ListaPedidosAukdeliver"
            android:parentActivityName=".paquetes.Menus.MenuAukdeliver"
            android:screenOrientation="portrait" android:launchMode = "singleInstance"/>
        <activity android:name=".paquetes.Actividades.Pedidos.DetallePedido"
            android:screenOrientation="portrait" android:launchMode = "singleInstance"/>
        <activity
            android:name=".paquetes.Actividades.Pedidos.ListaDePedidos"
            android:parentActivityName=".paquetes.Menus.MenuAdmin"
            android:screenOrientation="portrait" android:launchMode = "singleInstance"/>
        <activity
            android:name=".paquetes.Actividades.Pedidos.RealizarPedido"
            android:parentActivityName=".paquetes.Menus.MenuAdmin" android:launchMode = "singleInstance"/>
        <activity android:name=".paquetes.Menus.MenuProveedor"/>
        <activity android:name=".paquetes.Menus.MenuAukdeliver"/>
        <activity android:name=".paquetes.Menus.MenuAdmin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".paquetes.Actividades.Registros.RegistroProveedor"
            android:parentActivityName=".paquetes.Actividades.Registros.MenuRegistros" android:launchMode = "singleInstance"/>
        <activity
            android:name=".paquetes.Actividades.Registros.RegistroAukdeliver"
            android:parentActivityName=".paquetes.Actividades.Registros.MenuRegistros" android:launchMode = "singleInstance"/>
        <activity
            android:name=".paquetes.Actividades.Registros.MenuRegistros"
            android:parentActivityName=".paquetes.Actividades.Logins.LoginAdmin" android:launchMode = "singleInstance"/>
        <activity
            android:name=".paquetes.Actividades.Registros.RegistroAdmin"
            android:parentActivityName=".paquetes.Actividades.Registros.MenuRegistros" android:launchMode = "singleInstance"/>
        <activity
            android:name=".paquetes.Actividades.Logins.LoginProveedor"
            android:parentActivityName=".paquetes.Actividades.Inicio"/>
        <activity
            android:name=".paquetes.Actividades.Logins.LoginAukdeliver"
            android:parentActivityName=".paquetes.Actividades.Inicio"/>
        <activity
            android:name=".paquetes.Actividades.Logins.LoginAdmin"
            android:parentActivityName=".paquetes.Actividades.Inicio"/>
        <activity
            android:name=".paquetes.Actividades.Logins.RecuperarAdmin"
            android:parentActivityName=".paquetes.Actividades.Logins.LoginAdmin"/>
        <activity
            android:name=".paquetes.Actividades.Logins.RecuperarAukdelivery"
            android:parentActivityName=".paquetes.Actividades.Logins.LoginAukdeliver"/>
        <activity
            android:name=".paquetes.Actividades.Logins.RecuperarProveedor"
            android:parentActivityName=".paquetes.Actividades.Logins.RecuperarProveedor"/>
        <activity
            android:name=".paquetes.Actividades.Inicio"
            android:theme="@style/splashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notificacion"/>

        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>

    </application>

</manifest>